<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBY3iJu-aYp1KOZ24mPqK0WSBvPxzcJ3cM</string>
	<key>GCM_SENDER_ID</key>
	<string>490029310094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appBanGiay</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-sgshoes</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-sgshoes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490029310094:ios:9a0be8047ecab721c6a9df</string>
</dict>
</plist>